/* directory */

body{
	background-color:#1D1D1D;
}

#header{
position:fixed;
width:390px;
height:70px;
z-index:5000;
background-color:rgba(175,102,52,1);
margin-left:-41px;
top:0px;
transform: skewX(-45deg);
}

#header2{
background-color:rgba(73,69,86,1);
height:37px;
width:390px;
position:absolute;
z-index:5001;
margin-left: -80px;
}

#header3{
background-color:rgba(73,69,86,1);
height:17px;
width:390vw;
position:absolute;
z-index:5002;
margin-left: -7px;
margin-top:0px;
}

/*#sideimg{
	height:100vh;
    z-index: -20;
    float:right;
    opacity: 0.3;
}*/
/* */

a {
	text-decoration: none;
}

h1{
font-family:Segoe UI ; font-weight:400; text-align:left; color:#fff; font-size:35px;
font-style: italic;
text-shadow: 0px 0px 10px white;
z-index:6000;
}



.item{
background:linear-gradient(to right, rgba(73,69,76,1) , rgba(102,64,44,1));;
height:40px;
width:100%;
margin-top:3.5px;
border-bottom:#333 solid 2px;
transition:width 0.2s;
}

.item:hover{
width:115%;
}

.item:hover>.span_item{
padding-left:97px;
}
.span_item{
font-family:segoe ui; font-weight:200; color:#fff; font-size:26px;
padding-left:50px;
letter-spacing: 0px;
position:relative;
  top: 7%;
  transform: translateY(-50%);
  transition: padding-left 0.2s;
}



li img{
  margin-left: auto;
  margin-right: auto;
}

li>a>span{
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size:1.2em;
  color:white;
  font-family: arial;
}

.p_box{
  display: block;
}

/* Flex CSS */

.flex-container{  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

#projects{
  margin-top:50px;
}

.flex-item {
  color: white;
  font-size: 1.1em;
  text-align: center;
  padding-bottom: 10px;
}

.flex-item span{
  color:white;
  font-family: arial;
}  

ul{
  list-style-type:none;
  padding: 0;
  margin: 0;
}


/* Grid CSS */

.main-grid{
  display: grid;
  grid-template-columns: 300px auto 20px;
  grid-auto-rows: auto;
  grid-template-rows: 50px auto;
  grid-row-gap: 27px;
}

#profile{
  grid-column: 1;
  grid-row: 2;
}

.nav{
  background-color:rgba(255,255,255,0);
  width:275px;
  margin-left: -8px;
  margin-top:284px;
  z-index:2000;
  grid-column: 1;
  grid-row: 2;
}

.flex-container{
  grid-column: 2;
  grid-row:2;
}
